body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container{
  display: inline-block;
  border: 5px rgba(46,107,204,0.5) solid;
  margin-top: 15px;
  margin-left: 25px;
}

#map {
  width: 500px;
  height: 550px;
}

#aside {
  display: block;
  position: absolute;
  left: 600px;
  margin: 15px 25px;
}

.blurDiv{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  /* width: 100px;
    height: 100px;
    background-color: #ccc; */
}
